@import "theme";

body {
    font-family: 'FiraCode';
}

.nav {
    a {
        color: black;
        &:hover {
            color: black;
        }

        &.primary {
            background-color: $primary;
            &:hover {
                background-color: $primary-dimmed;
            }
        }
        &.secondary {
            background-color: $secondary;
            &:hover {
                background-color: $secondary-dimmed;
            }
        }
        &.tertiary {
            background-color: $tertiary;
            &:hover {
                background-color: $tertiary-dimmed;
            }
        }
    }
}

.footer {
    font-size: 0.6em;
    border-top: 1px $light-gray solid;
}

a {
    color: $a-font-color;
    text-decoration: none;

    &:hover {
        color: $a-hover-font-color;
    }
}

hr {
    border: none;
    border-top: 1px $hr-color solid;
}

// markdown text stylings
.language-terminal pre.highlight:before {
    content: "$";
    font-weight: bolder;
    margin-right: $padding-unit;
}

.highlighter-rouge {
    font-weight: bold;

    color: $code-font-color;
    background-color: $code-bg-color;
}

div.highlighter-rouge {
    padding: $padding-unit $padding-unit*2 $padding-unit $padding-unit*2;
    border-radius: 5px;
    pre {
        margin: 0 0 0 0;
    }
}

code.highlighter-rouge {
    padding: 2px 4px 2px 4px;
    border-radius: 5px;
    pre {
        margin: 0 0 0 0;
    }
}

blockquote {
    // font-style: italic;

    margin-left: 20px;
    padding-left: 20px;
    border-left: 4px $citation-nub-color solid;

    background-color: $citation-bg-color;
}
