// Raw colors
$black: #000000;
$darker-gray: #1b1b1b;
$dark-gray: #3d3d3d;
$gray: #727272;
$light-gray: #c7c7c7;
$lighter-gray: #f0f0f0;
$white: #ffffff;

$magenta: #ff00ff;
$magenta-dimmed: #ff70ff;

$cyan: #00ffff;
$cyan-dimmed: #a3ffff;

$yellow: #ffff00;
$yellow-dimmed: #ffffae;

// THEME
body {
    --primary: #{$magenta};
    --primary-dimmed: #{$magenta-dimmed};

    --secondary: #{$cyan};
    --secondary-dimmed: #{$cyan-dimmed};

    --tertiary: #{$yellow};
    --tertiary-dimmed: #{$yellow-dimmed};

    --bg-color: #{$white};
    --font-color: #{$black};

    // nav
    --nav-hover-font-color: #{$dark-gray};

    // links (a)
    --a-font-color: #{$dark-gray};
    --a-hover-font-color: #{$gray};

    // horizontal separator (hr)
    --hr-color: #{$light-gray};

    // code
    --code-font-color: #{$dark-gray};
    --code-bg-color: #{$light-gray};

    // citation (blockquote)
    --citation-font-color: #{$black};
    --citation-nub-color: #{$gray};
    --citation-bg-color: #{$lighter-gray};

    // toggle
    --toggle-color:#{$gray};
}

body[data-theme="dark"] {
    --bg-color: #{$black};
    --font-color: #{$white};

    // nav
    --nav-hover-font-color: #{$light-gray};

    // links (a)
    --a-font-color: #{$light-gray};
    --a-hover-font-color: #{$lighter-gray};

    // horizontal separator (hr)
    --hr-color: #{$light-gray};

    // code
    --code-font-color: #{$lighter-gray};
    --code-bg-color: #{$darker-gray};

    // citation (blockquote)
    --citation-font-color: #{$light-gray};
    --citation-nub-color: #{$gray};
    --citation-bg-color: #{$dark-gray};

    // toggle
    --toggle-color:#{$gray};
}
