// Colors
$black: #000000;
$dark-gray: #3d3d3d;
$gray: #727272;
$light-gray: #c7c7c7;
$white: #ffffff;

$cyan-primary: #00ffff;
$cyan-secondary: #a3ffff;

$magenta-primary: #ff00ff;
$magenta-secondary: #ff70ff;

$yellow-primary: #ffff00;
$yellow-secondary: #ffffae;

// Page width
$max-page-width: 1200px;

// Font-Size
$base-font-size: 1em;

// Line-Height
$base-line-height: 1.5;
$header-line-height: 1.25;

// Breakpoints
@mixin phone-only {
    @media (max-width: 37.4em) { @content; }
}
@mixin tablet-portrait-up {
    @media (min-width: 37.5em) { @content; }
}
@mixin tablet-landscape-up {
    @media (min-width: 56.25em) { @content; }
}
@mixin desktop-up {
    @media (min-width: 75em) { @content; }
}
@mixin big-desktop-up {
    @media (min-width: 112.5em) { @content; }
}
